body{
    color:white;
    background-color: black;
    background-image: url('images/tartain.jpg');
    background-position: center center;
}
.headerLink{
    font-size: small;
    text-decoration: none;
    color:white;

}
.info{
    display:flex;
    flex-direction:column;
    max-width:90%;
    margin:auto;
    padding-top: 0px;

}
.info-col{
    display:flex;
    flex-direction:column;
    margin:auto;
    width:500px;
}

a{
    color:black;
    text-decoration:underline;
}

.header{
    font-family: "Pirata One";
    font-weight: 600;
    text-align: center;
    margin: auto;

    color:black;
    background-color: rgb(255, 210, 210);
    width:200px;
}

.legit-marquee {
    font-family:"Pirata One"
}

.svg-marquee{
    width:40%;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    
}
.middle-col-landing{
    width:40%;
    display:block;
    margin:auto;
    
}

.SVG-logo{
    display:block;
    margin:auto;
    max-width:70%;
}

.icon{
    max-width:40px;
    max-height:40px;

}
#concert-container{
    display: flex;
    flex-direction: column;
    width:500px;
}
.icon-container{


    justify-content: space-between;
    display:flex;
    width:170px;
    min-height:80px;
    align-items: center;
    margin:auto;
    
}

@media only screen and (max-width: 900px) {
    .svg-marquee{
        width:100%;

        
    }
    .icon-container{


        margin: auto;
        padding-top:20px;
        padding-bottom:20px;

        
    }

    .headerLink{
        font-size: medium;
        text-decoration: none;
        color:white;
    
    }
    .middle-col-landing{
        width:100%;
        
    }
    #concert-container{

        width:100%;
    }
    .info-col{
        width:100%;
    }
    .header{
        margin:auto;
        width:100%;    
        font-size:3rem;
    }
}