body{
    color:white;
    background-color: black;
    background-image: url('images/tartain.jpg');
    background-position: center center;
}

.info{
    display:flex;
    flex-direction:column;
    max-width:90%;
    margin:auto;
    padding-top: 0px;

}
.info-col{
    display:flex;
    flex-direction:column;
    margin:auto;

}

a{
    color:black;
    text-decoration:underline;
}

.header{
    font-family: "Pirata One";
    font-weight: 600;
    text-align: center;
    margin: 0px;
    color:black;
    background-color: red;
    width:200px;
}

.legit-marquee {
    font-family:"Pirata One"
}

.svg-marquee{
    width:40%;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    
}
.middle-col-landing{
    width:40%;
    display:block;
    margin:auto;
    
}

.SVG-logo{
    display:block;
    margin:auto;
    max-width:70%;
}

.icon{
    max-width:40px;
    max-height:40px;

}

.icon-container{


    justify-content: space-between;
    display:flex;
    width:170px;
    min-height:80px;
    align-items: center;
    margin:auto;
    
}

@media only screen and (max-width: 900px) {
    .svg-marquee{
        width:100%;

        
    }

    .middle-col-landing{
        width:100%;
        
    }
    .info-col{
        width:100%;
    }
    .header{
        margin:auto;
        width:100%;        
    }
}